body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

button {
    border-radius: 8px;
    background: #3882f6;
    color: #f9faf8;
    padding: 9px 27px;
    font-weight: bold;
}

a,
.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

/* Header */

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 500;
}

/* Content*/

.content {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
}

.content > * {
    width: 400px;
}

.main {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content .secondary {
    margin-bottom: 15px;
}

.content button {
    border: none;
}

/* Information */

.information {
    color: #1f2937;
    padding: 25px 0px;
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 15px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item {
    width: 200px;
}

.small-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

/* Quote */

.quote-section {
    color: #1f2937;
    background: #e5e7eb;
    padding: 50px 0px;
}

.quote-section * {
    width: 800px;
    margin: 0px auto;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 15px;
}

.author {
    font-weight: bold;
    text-align: right;
}

/* Call to action */

.cta {
    margin: 60px 200px;
    padding: 40px 120px;
    background: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.cta button {
    border: 1px solid white;
    align-self: center;
}

.cta .text {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

.cta .subtext {
    font-weight: lighter;
}

/* Footer */

.footer {
    padding: 25px 0px;
    background: #1f2937;
    text-align: center;
}