body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    align-self: flex-start;
    padding: 5px 25px;
    color: #f9faf8;
    font-weight: bold;
}

/* Header */

.header-section {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
}

/* Content 1 */

.content {
    background: #1F2937;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 150px;
    height: 300px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtext {
    margin-bottom: 10px;
}

.text {
    width: 400px;
    color: #f9faf8;
}

.large-image {
    width: 350px;
}

/* Information */

.information {
    height: 300px;
    text-align: center;
    padding-top: 20px;
}

.dark-text {
    text-align: center;
    margin-bottom: 10px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.small-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* Quote */

.quote-section {
    height: 300px;
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words {
    width: 300px;
    text-align: left;
    font: 36px lighter italic #1f2937;
    margin-bottom: 10px;
}

.author {
    width: 300px;
    text-align: right;
}

/* Call to action */

.cta-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    background: #3882f6;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Footer */