body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
}

.content {
    background: #1F2937;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 300px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
}

.large-image {
    width: 300px;
}